#page-heading .page-title{
	color: #fff;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
	margin: 0;
	padding: 9rem 0 2.8rem;
	border: none;
	font-size: 4.8rem;
	width: 100%;
	z-index: 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
#page-heading .page-title small{
	font-size: 40%;
	color: inherit;
	opacity: .75;
	text-align: inherit;
}
.error404 #page-heading .page-title{
	text-align: center;
}
@media (max-width:767px) {
	#page-heading{
		position: relative !important;
		height: auto;
		min-height: 1%;
	}
	#page-heading .page-title{
		position: relative !important;
		font-size: 3.6rem;
		text-align: center !important;
		line-height: 1.2;
		margin: 0;
		bottom: auto;
		padding: 2.8rem 0;
	}
	#page-heading .page-title small{
		text-align: center !important;
	}
}