/** Mixins */
.wc-tabs li {
  padding: 1.4rem 0;
  position: relative; }
  .wc-tabs li + li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid currentColor;
    opacity: 0.1;
    display: block; }
  .wc-tabs li.active + li::before {
    opacity: 1; }

.wc-tabs .h2 {
  font-size: 130%;
  margin: 0; }

/** Products Loop */
ul.products {
  margin: 0 -15px;
  list-style: none;
  padding: 2.8rem 0;
  display: block;
  clear: both; }
  ul.products::after {
    content: ' ';
    display: block;
    clear: both; }
  ul.products .product {
    float: left;
    margin: 0 0 7rem 0;
    width: 25%;
    padding: 0 1.4rem;
    position: relative;
    text-align: center; }
    ul.products .product:nth-last-child(-n+4) {
      margin-bottom: 0; }
    ul.products .product img {
      width: 100%;
      height: auto; }
    ul.products .product a:hover img {
      box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5); }
    ul.products .product h2 {
      margin-top: 0;
      margin-bottom: 0.7rem;
      font-size: 120%; }
    ul.products .product .price del .amount {
      font-size: 85%;
      opacity: 0.65;
      font-weight: 300; }
    ul.products .product .price .amount {
      font-weight: 600;
      font-size: 120%; }
    ul.products .product .btn.btn-default {
      margin: 1.4rem auto 0; }
    ul.products .product a:not(.btn) {
      display: block; }

.related {
  margin-top: 5.6rem; }
  .related > .products {
    padding-bottom: 0; }

.with-sidebar .related .products .product {
  width: 33.333333%; }

.onsale {
  position: absolute;
  text-align: center;
  top: -1.4rem;
  left: 0;
  z-index: 1;
  font-size: 85%;
  font-weight: 600;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.woocommerce-result-count {
  float: left;
  margin: 0;
  line-height: 4rem; }

.added_to_cart.wc-forward {
  clear: both;
  margin-top: 0.7rem; }

/** Pagination */
.woocommerce-pagination {
  text-align: center;
  margin: 2.8rem 0 0 0;
  position: relative;
  z-index: 1; }
  .woocommerce-pagination .page-numbers {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: inline-block; }
    .woocommerce-pagination .page-numbers li {
      display: inline;
      float: left; }
      .woocommerce-pagination .page-numbers li a,
      .woocommerce-pagination .page-numbers li span {
        display: block;
        padding: 6px 12px;
        border: 1px solid;
        margin-left: -1px; }
      .woocommerce-pagination .page-numbers li:first-of-type a, .woocommerce-pagination .page-numbers li:first-of-type span {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      .woocommerce-pagination .page-numbers li:last-of-type a, .woocommerce-pagination .page-numbers li:last-of-type span {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }

/** Tabs */
.woocommerce-tabs {
  clear: both;
  margin: 5.6rem 0 2.8rem; }
  .woocommerce-tabs .tabs {
    list-style: none;
    margin: 0;
    padding: 0; }
  .woocommerce-tabs .panel {
    padding-top: 1.4rem; }
  .woocommerce-tabs #comments {
    margin-top: 2.8rem;
    max-width: 100%; }
    .woocommerce-tabs #comments h2 {
      display: none; }
  .woocommerce-tabs .commentlist {
    list-style: none;
    margin: 0;
    padding: 0; }
    .woocommerce-tabs .commentlist .comment {
      margin-bottom: 2.8rem; }
    .woocommerce-tabs .commentlist header.comment-meta {
      overflow: hidden;
      padding-bottom: 0.3rem;
      margin-bottom: 1.4rem; }
      .woocommerce-tabs .commentlist header.comment-meta h6 {
        float: left;
        margin: 0; }
    .woocommerce-tabs .commentlist .comment_container {
      padding-left: 80px;
      position: relative;
      min-height: 60px; }
    .woocommerce-tabs .commentlist .avatar {
      position: absolute;
      left: 0;
      top: 0;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
  .woocommerce-tabs #review_form form > p,
  .woocommerce-tabs #review_form form > div {
    margin: 0.5rem 0;
    padding: 0 15px;
    float: left;
    width: 100%; }
  .woocommerce-tabs #review_form h3 {
    margin-bottom: 0; }
  .woocommerce-tabs #review_form form {
    padding-top: 0;
    margin-left: -15px;
    margin-right: -15px; }
  .woocommerce-tabs #review_form .comment-form-author,
  .woocommerce-tabs #review_form .comment-form-email {
    float: left;
    width: 50%;
    padding: 0 15px; }
  .woocommerce-tabs #review_form .comment-form-comment {
    clear: both;
    overflow: hidden; }
  .woocommerce-tabs #review_form .comment-reply-title {
    font-size: 140%;
    margin-bottom: 1.4rem;
    display: inline-block; }
  .woocommerce-tabs #review_form .comment-form-rating {
    clear: both;
    overflow: hidden; }
    .woocommerce-tabs #review_form .comment-form-rating label {
      float: left;
      margin-bottom: 0;
      padding-bottom: 0; }
    .woocommerce-tabs #review_form .comment-form-rating p {
      margin: 0 0 0 1.4rem;
      float: left; }
    .woocommerce-tabs #review_form .comment-form-rating .stars a[class*='star-'] {
      text-indent: -9999px;
      display: block;
      float: left;
      position: relative;
      width: 2.8rem;
      margin-right: 1.4rem;
      padding-right: 1.4rem;
      border-right-width: 1px;
      border-right-style: solid; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a[class*='star-']::before {
        content: '\f005';
        font-family: 'FontAwesome';
        display: inline-block;
        font-size: 1.4rem;
        position: absolute;
        left: 0;
        text-indent: 0; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-2[class*='star-'] {
        width: 4.2rem; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-2[class*='star-']::before {
        content: '\f005 \f005'; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-3[class*='star-'] {
        width: 5.6rem; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-3[class*='star-']::before {
        content: '\f005 \f005 \f005'; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-4[class*='star-'] {
        width: 7rem; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-4[class*='star-']::before {
        content: '\f005 \f005 \f005 \f005'; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-5[class*='star-'] {
        width: 8.4rem;
        border-right: none; }
      .woocommerce-tabs #review_form .comment-form-rating .stars a.star-5[class*='star-']::before {
        content: '\f005 \f005 \f005 \f005 \f005'; }

/** Stars Rating */
.star-rating {
  font-family: 'FontAwesome';
  font-size: 1.4rem; }
  .star-rating.stars-1:before {
    content: '\f005  \f006  \f006  \f006  \f006'; }
  .star-rating.stars-15:before {
    content: '\f005  \f123  \f006  \f006  \f006'; }
  .star-rating.stars-2:before {
    content: '\f005  \f005  \f006  \f006  \f006'; }
  .star-rating.stars-25:before {
    content: '\f005  \f005  \f123  \f006  \f006'; }
  .star-rating.stars-3:before {
    content: '\f005  \f005  \f005  \f006  \f006'; }
  .star-rating.stars-35:before {
    content: '\f005  \f005  \f005  \f123  \f006'; }
  .star-rating.stars-4:before {
    content: '\f005  \f005  \f005  \f005  \f006'; }
  .star-rating.stars-45:before {
    content: '\f005  \f005  \f005  \f005  \f123'; }
  .star-rating.stars-5:before {
    content: '\f005  \f005  \f005  \f005  \f005'; }

/** Summary */
.summary .woocommerce-product-rating {
  float: right;
  text-align: right;
  position: absolute;
  top: 0;
  right: 15px; }

.summary .product_title {
  padding-right: 100px;
  margin-bottom: 0;
  margin-top: 0; }

.summary .price {
  margin-top: 1.4rem; }
  .summary .price span {
    font-size: 200%; }
    .summary .price span span {
      font-size: 100%; }
  .summary .price del {
    font-size: 85%;
    opacity: 0.65;
    font-weight: 300; }
  .summary .price ins .amount {
    font-weight: bold; }

.summary ul, .summary ol {
  list-style: none;
  padding: 0; }

.summary .title {
  margin-bottom: 2.8rem; }

.summary .cart {
  margin: 2.8rem 0 1.4rem; }

.summary .quantity {
  margin-right: 1.4rem;
  float: left;
  display: block; }
  .summary .quantity input {
    float: left; }
  .summary .quantity .minus,
  .summary .quantity .plus {
    height: 4.2rem;
    line-height: 4.2rem;
    width: 4.2rem;
    text-align: center;
    border: none;
    padding: 0; }
  .summary .quantity .minus {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .summary .quantity .plus {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .summary .quantity .qty {
    width: 50px;
    text-align: center;
    font-weight: bold;
    height: 4.2rem; }

.summary .single_add_to_cart_button {
  position: relative;
  padding: 0 2.8rem;
  height: 4.2rem;
  line-height: 4.2rem;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  padding-left: 6.8rem; }
  .summary .single_add_to_cart_button::before {
    content: "\f07a";
    position: absolute;
    font-family: "FontAwesome";
    width: 4rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    top: 0;
    left: 0; }

.summary .variations + single_variation_wrap {
  margin-top: 2.8rem; }

.summary .variations .variation_label {
  padding-bottom: 0.7rem; }

.summary .variations li {
  text-align: left !important; }
  .summary .variations li.reset {
    font-size: 85%;
    width: 100%; }
    .summary .variations li.reset .reset_variations {
      margin-top: 0.7rem;
      display: block; }

/** Main Image */
.woocommerce-main-image.link-image, .woocommerce-main-image.link-image .attachment-shop_single {
  width: 100%;
  height: auto; }

.single-product .product {
  position: relative; }
  .single-product .product #comments {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 2.8rem; }
    .single-product .product #comments .comment {
      padding-left: 0 !important; }
  .single-product .product textarea#comment {
    height: 10rem; }
  .single-product .product .woocommerce-product-gallery__image .link-image, .single-product .product .woocommerce-product-gallery__image .woocommerce-main-image.link-image .attachment-shop_single, .woocommerce-main-image.link-image .single-product .product .woocommerce-product-gallery__image .attachment-shop_single {
    display: block; }
  @media (min-width: 992px) {
    .single-product .product .wp-post-image {
      width: 100%; } }
.single-product .alert + .product {
  margin-top: 40px; }

/** Product Gallery */
#product-gallery {
  margin-top: 1rem; }
  #product-gallery .link-image, #product-gallery .woocommerce-main-image.link-image .attachment-shop_single, .woocommerce-main-image.link-image #product-gallery .attachment-shop_single {
    width: 100%; }
  #product-gallery img {
    width: 100%;
    height: auto; }
  #product-gallery .owl-prev::before,
  #product-gallery .owl-next::after {
    width: 5.6rem;
    text-align: center;
    border-radius: 2px; }
  #product-gallery .owl-controls {
    margin-top: 10px; }

.product_meta {
  clear: both;
  display: block;
  margin: 2.8rem 0 1.4rem; }

.woocommerce-review-link {
  text-transform: uppercase;
  font-size: 85%;
  font-weight: bold; }

.woocommerce-review-link span {
  font-size: 100%;
  font-weight: bold; }

/** Cart Widget */
.widget_shopping_cart .widget-title::after {
  content: '\f07a';
  font-family: 'FontAwesome';
  float: right; }

.widget_shopping_cart .product_list_widget {
  border-bottom: 3px solid; }

.widget_shopping_cart .total {
  margin: 0.7rem 0;
  text-align: right; }
  .widget_shopping_cart .total .amount {
    display: inline-block;
    margin-left: 0.7rem; }

.widget_shopping_cart .buttons::after {
  content: '';
  display: block;
  clear: both; }

.widget_shopping_cart .button {
  font-weight: 500;
  height: auto;
  padding: 1rem 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  width: 48%;
  float: left; }
  .widget_shopping_cart .button::after {
    content: '  \f07a';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: 0.7rem; }

.widget_shopping_cart .button.checkout {
  float: right; }
  .widget_shopping_cart .button.checkout::after {
    content: '  \f178';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: 0.7rem; }

/** Product List Widget */
.product_list_widget {
  margin: 0;
  padding: 0;
  list-style: none; }
  .product_list_widget li {
    clear: both;
    overflow: auto;
    display: block;
    border-bottom: 1px solid;
    padding-top: 1.4rem;
    padding-left: 0; }
    .product_list_widget li:before {
      content: none; }
    .product_list_widget li:first-of-type {
      padding-top: 0; }
    .product_list_widget li:last-of-type {
      border-bottom: none; }
    .product_list_widget li a {
      font-weight: bold; }
      .product_list_widget li a::after {
        content: '';
        display: block; }
    .product_list_widget li .quantity {
      display: block;
      text-align: right; }
  .product_list_widget .attachment-shop_thumbnail {
    max-width: 4rem;
    height: auto;
    float: left;
    margin-right: 1.4rem;
    margin-bottom: 0.7rem; }

/** Search Widget */
.widget_product_search .screen-reader-text {
  display: none; }

.widget_product_search input[type="submit"] {
  display: none; }

/** Layered Nav Widget */
.widget_layered_nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_layered_nav ul li {
    border-bottom: 1px solid;
    padding-left: 0; }
    .widget_layered_nav ul li:before {
      content: none; }
    .widget_layered_nav ul li a::before {
      content: '\f096';
      font-family: 'FontAwesome';
      margin-right: 0.7rem; }
    .widget_layered_nav ul li.chosen a::before,
    .widget_layered_nav ul li a:hover::before {
      content: '\f046';
      margin-right: 0.5rem; }

.widget_layered_nav .count {
  float: right;
  font-weight: bold; }

.widget_layered_nav .widget-title:after {
  content: '\f0b0';
  font-family: 'FontAwesome';
  float: right; }

/** Price Filter */
.widget_price_filter .ui-slider-horizontal {
  position: relative;
  height: .5rem;
  border-radius: 50px;
  margin-bottom: 2.8rem; }
  .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: .5rem;
    position: absolute;
    border-radius: 50px;
    transition: none; }
  .widget_price_filter .ui-slider-horizontal .ui-slider-handle {
    position: absolute;
    top: -0.45rem;
    border-radius: 50px;
    width: 1.4rem;
    height: 1.4rem;
    border-width: 2px;
    border-style: solid;
    outline: none !important;
    transition: none; }
    .widget_price_filter .ui-slider-horizontal .ui-slider-handle:last-of-type {
      margin-left: -1.4rem; }

.widget_price_filter .button {
  font-weight: 500;
  background: none;
  border: none;
  padding: 0;
  float: left; }
  .widget_price_filter .button::before {
    content: '\f0b0';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 0.7rem; }

.widget_price_filter .price_label {
  float: right; }

/**Recent Reviews Widget */
.widget_recent_reviews .star-rating span {
  display: none; }

.widget_recent_reviews .star-rating {
  float: left;
  margin-right: 0.7rem; }

.widget_recent_reviews .reviewer {
  font-size: 80%;
  line-height: 1; }
  .widget_recent_reviews .reviewer::before {
    content: '('; }
  .widget_recent_reviews .reviewer::after {
    content: ')'; }

/** Top Rated Widget */
.widget_top_rated_products .star-rating span {
  display: none; }

.widget_top_rated_products .star-rating {
  float: right;
  margin-left: 0.7rem; }

/** Shopping Cart */
.woocommerce-cart-form__contents {
  /*.attachment-shop_thumbnail{
		width: 4rem;
		height: auto;
		margin: 0;
	}
	.quantity{
		input{
			float: left;
		}
		.minus,
		.plus{
			height: 42px;
			line-height: 42px;
			width: 42px;
			text-align: center;
			border: none;
			padding: 0
		}
		.minus{
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		.plus{
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		.qty{
			width: 50px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			text-align: center;
			font-weight: bold;
			height: 4.2rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}
	& > tbody > tr > td,
	& > tbody > tr > th,
	& > thead > tr > td,
	& > thead > tr > th,
	& > tfoot > tr > td,
	& > tfoot > tr > th{
		vertical-align: middle;
		padding: 1.4rem;
	}
	.product-name{
		font-weight: bold
	}
	.coupon label{
		display: none
	}
	*/ }
  .woocommerce-cart-form__contents thead {
    display: none; }
    @media (min-width: 768px) {
      .woocommerce-cart-form__contents thead {
        display: table-header-group; } }
  .woocommerce-cart-form__contents tbody td {
    display: block;
    text-align: right; }
    .woocommerce-cart-form__contents tbody td::before {
      content: attr(data-title);
      font-weight: bold;
      float: left;
      margin-right: 1rem; }
    .woocommerce-cart-form__contents tbody td.product-remove {
      position: relative;
      border-color: transparent; }
      .woocommerce-cart-form__contents tbody td.product-remove .remove {
        position: absolute;
        right: 0;
        top: 0; }
    .woocommerce-cart-form__contents tbody td.product-thumbnail {
      text-align: center;
      border-color: transparent; }
      .woocommerce-cart-form__contents tbody td.product-thumbnail img {
        max-width: 10rem; }
    .woocommerce-cart-form__contents tbody td .qty {
      display: inline-block;
      max-width: 5rem;
      padding: 2px 0;
      text-align: center; }
  .woocommerce-cart-form__contents tbody tr:hover td {
    background-color: transparent; }
  .woocommerce-cart-form__contents tbody .coupon label {
    display: none; }
  .woocommerce-cart-form__contents tbody .actions .form-group {
    display: block;
    text-align: center; }
    .woocommerce-cart-form__contents tbody .actions .form-group input[type="text"] {
      width: 100%;
      display: block;
      max-width: none !important;
      margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .woocommerce-cart-form__contents tbody .actions .form-group {
        display: inline-flex;
        flex-wrap: nowrap;
        margin-bottom: 0;
        float: left; } }
  .woocommerce-cart-form__contents tbody .actions input.btn {
    display: block;
    width: 100%;
    margin: 1rem 0 0; }
    @media (min-width: 768px) {
      .woocommerce-cart-form__contents tbody .actions input.btn {
        display: inline-block;
        margin: 0 0 0 1rem;
        width: auto; } }
  .woocommerce-cart-form__contents tbody .actions .btn-link {
    font-weight: bold;
    padding-left: 2.8rem;
    padding-right: 2.8rem; }
    .woocommerce-cart-form__contents tbody .actions .btn-link:hover {
      background-color: transparent; }
  @media (min-width: 768px) {
    .woocommerce-cart-form__contents tbody .actions {
      text-align: right; } }
  @media (min-width: 768px) {
    .woocommerce-cart-form__contents tbody td {
      display: table-cell;
      text-align: left; }
      .woocommerce-cart-form__contents tbody td::before {
        display: none; }
      .woocommerce-cart-form__contents tbody td.product-remove {
        position: relative;
        border-color: inherit; }
        .woocommerce-cart-form__contents tbody td.product-remove .remove {
          position: static; }
      .woocommerce-cart-form__contents tbody td.product-thumbnail {
        text-align: left;
        border-color: inherit; }
        .woocommerce-cart-form__contents tbody td.product-thumbnail img {
          max-width: 5rem; } }
/** Shopping Cart Collaterals */
.cart-collaterals {
  margin: 5.6rem 0 0 0; }
  .cart-collaterals .cart_totals {
    display: inline-block;
    width: 48%;
    float: right; }
  .cart-collaterals .cross-sells {
    display: inline-block;
    width: 48%;
    float: left; }
  .cart-collaterals .shipping_calculator {
    clear: both;
    display: block; }
  .cart-collaterals .order-total .amount {
    font-weight: bold; }
  .cart-collaterals .shipping-calculator-form {
    padding-top: 1.4rem; }
    .cart-collaterals .shipping-calculator-form p {
      margin: 1.4rem 0; }

.wc-proceed-to-checkout .checkout-button {
  display: none; }

/** Alerts */
.alert a {
  font-weight: bold;
  color: inherit; }
  .alert a.button {
    float: right; }

/** Checkout Page */
.checkout_coupon + .checkout {
  margin-top: 5.6rem; }

.checkout .woocommerce-billing-fields p:last-of-type {
  margin-bottom: 0; }

.checkout .woocommerce-billing-fields #createaccount {
  display: none; }
  .checkout .woocommerce-billing-fields #createaccount + label > i {
    margin-right: 0.7rem; }
  .checkout .woocommerce-billing-fields #createaccount:checked + label > i::before {
    content: '\f14a'; }

.checkout .country_select > a {
  min-height: 28px;
  padding: 1rem 1.5rem;
  height: auto; }

.checkout .chosen-container {
  position: relative; }

.checkout .chosen-drop {
  display: none;
  padding: 0.7rem 1.4rem 1.4rem;
  border: 1px solid;
  border-top: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.checkout .chosen-search {
  display: none; }

.checkout .chosen-single {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: anone;
  -o-transition: none;
  transition: none;
  display: block;
  width: 100%;
  min-height: 28px;
  box-shadow: none;
  padding: 0.9rem 1.5rem;
  height: auto;
  border-radius: 2px;
  -webkit-appearance: none;
  outline: none;
  border-width: 1px;
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px; }

.checkout .chosen-with-drop .chosen-search {
  display: block;
  margin-bottom: 0.7rem; }
  .checkout .chosen-with-drop .chosen-search input[type=text] {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 27px;
    padding-right: 35px;
    font-weight: normal; }

.checkout .chosen-with-drop .chosen-drop {
  display: block; }

.checkout .chosen-with-drop .chosen-single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.checkout .chosen-results {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; }
  .checkout .chosen-results li {
    padding: 0.35rem 1.4rem;
    border-radius: 2px;
    font-size: 85%;
    cursor: pointer; }

.checkout .woocommerce-shipping-fields {
  margin-top: 2.8rem; }
  .checkout .woocommerce-shipping-fields #order_comments {
    height: 13.4rem; }
  .checkout .woocommerce-shipping-fields #ship-to-different-address input {
    display: none; }
  .checkout .woocommerce-shipping-fields #ship-to-different-address input + label > i {
    margin-right: 0.7rem; }
  .checkout .woocommerce-shipping-fields #ship-to-different-address input:checked + label > i:before {
    content: '\f14a'; }

.checkout #payment-details {
  border-radius: 2px;
  padding: 2.8rem; }

.checkout .payment_methods {
  list-style: none;
  margin: 0;
  padding: 2.8rem 0; }
  .checkout .payment_methods p {
    font-size: 85%; }
  .checkout .payment_methods li {
    padding: 0.7rem 0; }
  .checkout .payment_methods label {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 92%;
    padding-left: 0.7rem;
    position: relative; }
    .checkout .payment_methods label img {
      border: 0;
      padding: 0;
      min-height: 1.7em;
      max-height: 3em;
      height: auto;
      max-width: auto;
      line-height: 100%;
      position: absolute;
      right: 0;
      top: -50%; }
    .checkout .payment_methods label a {
      padding-left: 0.7rem; }

.woocommerce-checkout .login {
  padding-bottom: 2.8rem; }
  .woocommerce-checkout .login .form-row {
    float: left; }
    .woocommerce-checkout .login .form-row:nth-child(-n+3) {
      width: 48%; }
    .woocommerce-checkout .login .form-row.form-row-last {
      float: right; }
    .woocommerce-checkout .login .form-row input[type=submit] {
      margin-right: 1.4rem; }
    .woocommerce-checkout .login .form-row input[type=checkbox] {
      margin-right: 0.7rem; }
  .woocommerce-checkout .login .lost_password {
    float: left;
    margin-left: 2.8rem;
    line-height: 4.2rem; }
  .woocommerce-checkout .login input[type=submit] {
    position: relative;
    padding: 0 2.8rem;
    height: 4.2rem;
    line-height: 4.2rem;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid; }

.woocommerce-checkout table {
  width: 100%; }
  .woocommerce-checkout table thead th,
  .woocommerce-checkout table thead td {
    border-bottom: 3px solid; }
  .woocommerce-checkout table tbody th,
  .woocommerce-checkout table tbody td {
    border-bottom: 1px solid; }

.woocommerce-checkout .order_details {
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  border-radius: 2px;
  border: 1px solid; }
  .woocommerce-checkout .order_details.shop_table {
    border: none; }
  .woocommerce-checkout .order_details li {
    display: table-cell;
    padding: 1.4rem;
    border-right: 1px solid; }
    .woocommerce-checkout .order_details li strong {
      display: block; }
    .woocommerce-checkout .order_details li:last-of-type {
      border-right: none; }
  .woocommerce-checkout .order_details .total .amount {
    font-weight: bold; }

.col2-set {
  margin: 0 -15px; }
  .col2-set:after {
    content: '';
    display: block;
    clear: both; }
  .col2-set .col-1,
  .col2-set .col-2 {
    float: left;
    display: block;
    width: 50%;
    padding: 0 15px; }

/** Notification */
.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4rem;
  font-weight: bold;
  z-index: 100;
  margin: 0;
  text-align: center;
  opacity: 0.8; }
  .demo_store:hover {
    opacity: 1; }

@media (max-width: 1199px) {
  ul.products .product.product {
    width: 33.333333%; }
    ul.products .product.product:nth-last-child(-n+4) {
      margin-bottom: 7rem; }
    ul.products .product.product:nth-last-child(-n+3) {
      margin-bottom: 0; } }

@media (max-width: 991px) {
  ul.products .product.product {
    width: 50%; }
    ul.products .product.product:nth-last-child(-n+4) {
      margin-bottom: 7rem; }
    ul.products .product.product:nth-last-child(-n+2) {
      margin-bottom: 0; } }

@media (max-width: 767px) {
  ul.products .product.product {
    width: 100%; }
    ul.products .product.product:nth-last-child(-n+4) {
      margin-bottom: 7rem; }
    ul.products .product.product:last-of-type {
      margin-bottom: 0; }
  .related .products .product,
  .comment-form-author,
  .comment-form-email {
    width: 100% !important; }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    display: block;
    width: 100%;
    float: none; }
  .col2-set .col-1,
  .col2-set .col-2 {
    width: 100%; }
  .woocommerce-checkout .order_details li {
    display: block;
    border-right: none;
    border-bottom-width: 1px;
    border-bottom-style: solid; } }

.checkout.woocommerce-checkout {
  margin-top: 2rem; }
